

<div class="list">
Click on the item to view details
<ul>
  <% @items.each do |item| %>
    <li data-id="<%=item.id%>" style="cursor:default"><span class="item"><%=item.title%></span> <small><button class="admin-delete">Delete</button></small></li> 
  <%end%>
</ul>
</div>
<div class="list">

<form class="admin">
  <p>
  <label for="title">Title</label>
  <input type="text" name="title">
  </p><p>
  <label for="comments">Comments</label>
  <input type="text" name="comments">
  </p><p>
  <label for="url">URL</label>
  <input type="text" name="url">
  </p><p>
  <label for="purchased">Purchased?</label>
  <input type="checkbox" name="purchased">
  </p><p>
  <button id="admin-clear">Clear Form</button> <button id="admin-save">Save Item</button> 
  </p>

</form>




</div>