<div id="main">
  <div class="list">
  Stuff we've got:
    <div id="purchased"></div>

    <form>
      Is your gift not on either list?
      <br/>Add it here:<br>
      <input type="text" name="title">
      <br>
      Any comments?<br>
      <input type="text" name="comments">
    </form>

  </div>

  <div class= "list">
  Stuff we need:
    <div id="needed"></div>

    <form>
      Is there something else we need?
      <br />Add it here:<br>
      <input type="text" name="title">
      <br>
      Any comments?<br>
      <input type="text" name="comments" placeholder="">
    </form>

  </div>
</div>