<div id="main">

  <img src="https://cvws.icloud-content.com/CAEQARoQqcF7RouKB7S1CD5XbClCGg/01d9a1630d9b97d25e8bb8de9ddc21e76d413ccd82/IMG_0012.JPG?v=0&p=4&x=1&a=BRlqS8MIxxomAyEZNg%3D%3D&e=1475026565000&r=5c64eb42-749d-48ec-96bb-375154aaec51-13&u=1474943465786&c=CoYFCuIECoUECh1zdG9yZS0wMDYuYmxvYnN0b3JlLmFwcGxlLmNvbRBQGgNHRVQipwEvYXBwbGUtbWFzLTAwMDAxL245T1JPc01CVlBCRUthSUJOMG8tP3gtY2xpZW50LXJlcXVlc3QtaWQ9NWM2NGViNDItNzQ5ZC00OGVjLTk2YmItMzc1MTU0YWFlYzUxJmJpbj00MDMwMDAwMDQmYnl0ZS1yYW5nZT0zNDM2Ni01ODIyNTUmRXhwaXJlcz0xNDc0OTQzNDY1JnJlZ2lvbj1hbWVyd2VzdCoESFRUUDIDMS4xOgRodHRwQkIKDUF1dGhvcml6YXRpb24SMU1BU1NJTElBX0NPTlRFTlRfMDA2OmZqZVVTT2g2WDcwL1hmT1Z3YUVQYjFDbkZsTT1CKwoKeC1hbXotZGF0ZRIdVHVlLCAyNyBTZXAgMjAxNiAwMTozNjowNSBHTVRCDQoGQWNjZXB0EgMqLypCKQoRWC1BcHBsZS1PYmplY3QtSUQSFG45T1JPc01CVlBCRUthSUJOMG8tQioKCUJsb2JzdG9yZRIdc3RvcmUtMDA2LmJsb2JzdG9yZS5hcHBsZS5jb21CGwoFUmFuZ2USEmJ5dGVzPTM0MzY2LTU4MjI1NUoOYXBwbGVfdXNfY2lfcXNSF2N2d3MuaWNsb3VkLWNvbnRlbnQuY29tWLry7Mv2KhIwChWBdS_2Uh1aLN7XIZYHEFNm6md5kw4SEQEYdp9zlXYZ2sMPFO9bxd8VGLK4ISAAGhRuOU9ST3NNQlZQQkVLYUlCTjBvLSIQQTZ4cW9LWFI1aEMyK1JNMhIfChUB2aFjDZuX0l6LuN6d3CHnbUE8zYISBAgAEAAoACAC&s=um0EqUYRqb1DMW4cY2Goy3XNoMw" />

  <div class="intro">
  <h1>Hello and Welcome!</h1>

    <p>We're having a baby! And our baby will be a human baby, born helpless and dependent on the adults in its life to take care of it using various tools and products that exist. If you're looking at this site, you've probably asked about what is needed to help our child along in the world and this list is the best I could come up with. </p>

    <p>We're not making any announcements about gender at this time, but it's important that you know that we will be dressing our child in all sorts of styles, so have fun with your gifts! Don't bother trying to be gender neutral because we're certainly not going to.</p>

    <p>Please go ahead and check off the box next to the item that you've purchased or have decided to purchase. No sign-in or permissions are required, so click responsibly! And <a href="mailto:unklester@gmail.com?subject=I made a mistake again">don't be afraid to ask me to fix anything</a>.</p>

    <p>You could also contribute to our <a href="http://www.rachelyoonphotography.com/baby-registry-ashley-christopher/">baby portrait fund</a> if you wanted to.
  </div>

  <div class ="registry">
    <div class="list">
    Stuff we've got:
      <div id="purchased"></div>

      <form>
        <p>
        Is your gift not on either list?
        </p>Add it here:
        <input type="text" name="title">
        <p>
        Any comments?
        <input type="text" name="comments"></p><p>
        <button data-purchased="true">Add</button></p>
      </form>

    </div>

    <div class= "list">
    Stuff we need:
      <div id="needed"></div>

      <form>
        <p>
        Is there something else we need?
        </p>Add it here:
        <input type="text" name="title">
        <p>
        Any comments?
        <input type="text" name="comments"></p><p>
        <button data-purchased="false">Add</button></p>
      </form>

    </div>
  </div>
</div>